extends layout

block content
    h1= title
    if show
        form(method='post')
            p What is your favourite season?
            ul
                each item in data
                    li
                        label=item.title
                        input(type='radio' name='quiz' value=item._id)
            input(type='submit' value='Vote')
            p To view results, cast your vote
    else
        h1 You've already made your poll
        p Results
        ul
            each item in data
                li #{item.title} vote: #{item.vote}(#{Math.round(item.vote / sum * 100)}%)
        p Votes were cast: #{sum}